html, body {
    margin: 0;
    padding: 0;
    line-height: 0;
    background-color: gray;
    /* height: 100%; */
}

.container {
    border: solid 1px gray;
    background-color: #ccc;
    margin:0 auto;
    vertical-align: middle;
    border: solid 2px #000;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
}

.profile {
    position: absolute;
    width: 630px;
    /* height: 24px; */
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 10px;
    line-height: 18px;
    padding: 5px 10px;
    top: 2px;
    right: 3px;
    text-align: right;
}

.field {
    display: inline-block;
    width: 100px;
    text-align: left;
    color: yellow;
}

.label {
    display: inline-block;
    width: 100px;
    text-align: right;
}

.tools {
    position: absolute;
    width: 300;
    right: 0;
    top: 65px;
    padding: 10px;
}

.tools button {
    font-size: 14px;
    line-height: 14px;
    padding: 10px 15px;
    font-weight: bold;
    margin-left: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
}